<%= form_tag(shorten_path, :class => 'form-horizontal') do %>

  <legend>New Short URL</legend>

  <div class="control-group">
    <%= label_tag :long_url, 'URL to shorten', :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :long_url %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
