<div class="hero-unit">
  <h1>Existing URLS</h1>
</div>

<div class="row">
  <div class="span12">

    <table class="table table-striped">
      <tr>
        <th>Long URL</th>
        <th>Short URL</th>
      </tr>

      <% @urls.each do |url| %>
        <tr>
          <td><%= url.long %></td>
          <td><%= link_to(go_url(:short_url => url.short), go_url(:short_url => url.short), :target => '_blank') %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>