<h1>Existing URLs</h1>

<table>
  <tr>
    <th>Long</th>
    <th>Short</th>
  </tr>

  <% @urls.each do |url| %>
    <tr>
      <td><%= url.long %></td>
      <td><%= link_to(go_url(:short_url => url.short), go_url(:short_url => url.short), :target => '_blank') %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Url', new_url_path %>
