<div class="hero-unit">
  <h1>Test the web service</h1>
</div>

<div class="row">
  <div class="span12">

    <p>Please note that a JSON object will be returned once this form is submitted.</p>

    <%= render 'form' %>

  </div>
</div>